spring:
  datasource:
    # База будет храниться в файле exam_db.mv.db
    url: jdbc:h2:file:./data/exam_db;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

server:
  servlet:
    session:
      tracking-modes: cookie

logging:
  level:
    org.hibernate.SQL: DEBUG
    exam: DEBUG
